*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #d9d8c6;
}

li {
  list-style: none;
}

.carrousel-container {
  background: #5b5a5c;
  padding: 4px;
  max-width: 2000px;
  margin: 50px auto;
  box-shadow: 3px 3px 0px #353435;
  border: 2px solid #353435;
  border-radius: 5px;
}

.carrousel-slider-wrap {
  overflow: hidden;
  margin: 20px;
}

.carrousel-slider-group:before, .carrousel-slider-group:after {
  content: " ";
  display: table;
}
.carrousel-slider-group:after {
  clear: both;
}

.carrousel-slide {
  float: left;
  position: relative;
  margin-left: 0;
  padding-right: 8px;
}
